<div class="login-back">
	<div id="login">
		<div>
			<div class="title">
				Username:
			</div>
			<input type="text" name="username">
		</div>

		<div>
			<div class="title">
				Password:
			</div>
			<input type="password" name="password">
		</div>

		<div>
			<div class="title">
				&nbsp;
			</div>
			<input type="submit" value="login">
		</div>
	</div>
</div>