html,body,.login-back
{	height: 90%; }

.login-back
{
	display: flex;

	align-items: center;
	justify-content: center;
}

#login
{
	width: 50%;
	height: 200px;

	background: #222;
	box-shadow: #222 3px 3px 3px;
	border: 1px solid black;

	border-radius: 3px;

	padding: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

#login > div
{
	padding: 5px;
}

#login .title
{
	color: white;
}

#login input
{
	background: #333;
	color: #ccc;

	border: #111;
}