#bar > .name
{
	float: right;
	color: #999;

	font-size: 70%;
}

#bar > .name .subtle
{
	color: #666;
	font-size: 90%;
}

#bar .icons .icon
{
	width: 100px;
	height: 20px;
	
	display: flex;
	justify-content: flex-start;
}

#bar .icons .icon .image
{
	
}

#bar .icons .icon .text
{
	
}