#bar
{
	background: #222;
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 30px;
}

#bar > .name
{
	float: right;
	color: #999;

	font-size: 70%;
	margin-right: 10px;
}

#bar > .name .subtle
{
	color: #666;
	font-size: 90%;
}

#bar .icons
{
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-left: 10px;
}

#bar .icons .icon
{
	width: 100px;
	height: 20px;
	
	display: flex;
	justify-content: flex-start;

	border-right: 1px solid #999;
	margin-left: 10px;
	padding-right: 10px;
}
#bar .icons .icon:last-child
{
	border-right: 0px;
}

#bar .icons .icon .image
{
	width: 15px;
	height: 20px;
}
#bar .icons .icon .image img
{
	width: 100%;
	height: 100%;
}

#bar .icons .icon .text
{
	text-indent: 10px;

	color: #CCC;
}