<div class="index-back">
	<div id="index">
		<h1>
			Modules
		</h1>
		<div class="name">
			<span class="subtle">Logged in as:</span> {{ user.name }}
		</div>
		<hr>
		<div class="icons">
			{{ icons | raw }}
		</div>
	</div>
</div>