body,html
{	height: 90%; }

.index-back
{
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

#index
{
	background: #222;
	border: 1px solid #000;

	box-shadow: #222 3px 3px 3px;
	border-radius: 3px;

	width: 50%;
	min-width: 400px;
	min-height: 200px;

	padding: 5px;
	margin: 5px;
}

#index > h1
{
	color: #ccc;

	width: 100%;

	text-indent: 30px;
}

#index > .name
{
	float: right;
	color: #999;

	font-size: 70%;
}

#index > .name .subtle
{
	color: #666;
	font-size: 90%;
}

.icons
{
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 20px;
}

.icon
{
	width: 90px;
	height: 120px;

	border: 1px solid black;
	border-radius: 3px;

	background: #333;
	box-shadow: #111 3px 3px 3px;

	text-align: center;
	padding: 10px;
	margin: 5px 10px;

	text-decoration: none;
}
.icon:hover
{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid transparent;
}

.icon .image
{
	height: calc(100% - 20px);
}

.icon img
{
	height: 100%;
	width: 100%;
}

.icon .text
{
	color: #ccc;
}