body,html
{	height: 90%; }

.icons
{
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.icon
{
	width: 90px;
	height: 90px;

	border: 1px solid black;
	background: white;
}