#register-new
{
	position: absolute;
	top: 0px;
	right: 0px;

	width: 50%;
	min-width: 800px;
	height: calc(100% - 30px);

	padding: 5px;
	padding-top: 30px;

	background: #2A2A2A;
	border-left: 1px solid #000;
	box-shadow: 3px 0px 15px #000;

	z-index: 10;
}