<div id="register-new-backdrop">
	<div id="register-new">
		<a id="register-new-close" href="javascript:void(0);" data-keybind="esc">Close</a>

		<h2>New report</h2>
		<hr>
		<form method="post" action="/register/new/">
			<div class="date">
				<div class="date-from">
					<input type="text" id="register-new-date-from" name="date-from" value="{{ date_from }}" tabindex="1">
				</div>
				<div class="date-to">
					<input type="text" id="register-new-date-to" name="date-to" tabindex="2">
				</div>
			</div>

			<div class="source">
				<input type="text" name="source" tabindex="3" placeholder="Where did this task originate from?">
			</div>

			<div class="type">
				<input type="text" name="type" tabindex="4" placeholder="What type of task is this?">
			</div>

			<div class="customer">
				<input type="text" name="customer" tabindex="5" placeholder="What customer are we doing this for?">
			</div>

			<div class="customer_user">
				<input type="text" name="customer_text" tabindex="6" placeholder="Who are the customer's place made this task?">
			</div>

			<div class="location">
				<input type="text" name="location" tabindex="7" placeholder="Where is the customer calling from?">
			</div>

			<div class="ticket">
				<input type="text" name="ticket" tabindex="8" placeholder="Any tickets related to this?">
			</div>

			<div class="servers">
				<input type="text" name="servers" tabindex="9" placeholder="What servers are involved in this?">
			</div>
		</form>
	</div>
</div>

<form id="register-new-input">
	<div>
		<h3></h3>
		<input type="text">
		<input type="submit" value="Save">
	<div>
</form>