#register-new-backdrop
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	z-index: 10;
	overflow: hidden;
}

#register-new
{
	position: absolute;
	top: 0px;
	right: 0%;

	width: 50%;
	min-width: 800px;
	height: calc(100% - 30px);

	padding: 0 5px;
	padding-top: 30px;

	background: #2A2A2A;
	border-left: 1px solid #000;
	box-shadow: 3px 0px 15px #000;

	z-index: 10;

	animation-name: registerNewShow;
	animation-duration: 0.5s;

}

@keyframes registerNewShow
{
	0% { right: -51%; }
	100% { right: 0%; }
}
@keyframes registerNewHide
{
	0% { right: 0%; }
	100% { right: -51%; }
}

#register-new-close
{
	float: right;

	color: #CCC;
	text-decoration: none;
}

#register-new h2
{	color: #CCC; }

#register-new input
{
	background: #CCC;
	color: #333;
	border: #111;

	min-width: 780px;
	flex-grow: 1;

	padding: 3px;
	text-indent: 8px;
	box-sizing: border-box;
}

#register-new input:focus
{
	border-color: #666;
	outline: 0;

	box-shadow: inset 0px 1px 1px rgba(0,0,0, 0.075), 0px 0px 8px rgba(255,255,255, 0.6);
}

#register-new > form > div
{	margin-top: 5px; }

#register-new > div
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	margin: 0 3px;
}

#register-new .date
{	margin: 0 0; }

#register-new .date > div > input
{	min-width: initial; }

#register-new .date::before
{
	display: block;
	width: 100%;

	content: "Date";
	color: #CCC;
	
	font-weight: bold;
	font-size: 90%;

	margin-left: 10px;
}

#register-new .date > div
{
	margin: 0 3px;
	margin-bottom: 5px;

	flex-grow: 1;
	min-width: 400px;
	width: calc(50% - 60px);

	display: flex;
	justify-content: flex-start;
}

#register-new .date .date-from::before
{
	width: 50px;
	display: inline-block;

	font-size: 80%;
	color: #AAA;
	content: "From: ";
}

#register-new .date .date-to::before
{
	width: 50px;
	display: inline-block;

	font-size: 80%;
	color: #AAA;
	content: "To: ";
}

#register-new .source::before
{
	width: 50px;
	display: inline-block;

	font-size: 80%;
	color: #AAA;
	content: "Source: ";
}

.AnyTime-win
{	z-index: 10; }