body
{
	background: #333;
}

.clutter-container
{
	padding: 20px;

	filter: contrast(50);
}

.clutter
{
	display: block;

}
.clutter:nth-child(1)
{
	animation-delay: 0s;
}
.clutter:nth-child(2)
{
	animation-delay: -10s;
}

.ball
{
	animation-name: move;
	animation-duration: 60s;
	animation-iteration-count: infinite;

	border-radius: 50%;

	display: inline-block;
	position: absolute;
	left: 50px;

	background:rgba(0,0,0, 0.1);

	filter: blur(10px);

	width: 25%;
	padding-top: 25%;
}
.ball-1{ -webkit-animation-delay: 0s; animation-delay: 0s; top: 10%; }
.ball-2{ -webkit-animation-delay: 0s; animation-delay: 1s; bottom: 10%; }

@keyframes move
{
	0%{
		transform: translate3d(10%,0,0);
	}
	50%{
		transform: translate3d(90%,0,0);
	}
	100%{
		transform: translate3d(10%,0,0);
	}
}