html,body,.login-back
{	height: 90%; }

.login-back
{
	display: flex;

	align-items: center;
	justify-content: center;
}

#login
{
	width: 50%;
	min-width: 400px;
	min-height: 200px;

	background: #222;
	box-shadow: #222 3px 3px 3px;
	border: 1px solid black;

	border-radius: 3px;

	padding: 5px;
	margin: 5px;
}

#login .inputs
{
	display: flex;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;
}

#login > h1
{
	color: #ccc;

	width: 100%;

	text-indent: 30px;
}

#login .inputs > div
{
	padding: 5px;
	width: 300px;
	
	flex-grow: 1;
}

#login .inputs .title
{
	color: #ccc;
}

#login .inputs input
{
	background: #CCC;
	color: #333;

	border: #111;
	width: 100%;

	padding: 3px;
	text-indent: 8px;

	box-sizing: border-box;
}

#login .inputs input:focus
{
	border-color: #666;
	outline: 0;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.6);
}

#login .inputs input[type="submit"]
{
	text-indent: 0px;
}

#login .error
{
	color: #F00;

	text-indent: 30px;
	margin-top: 10px;

	font-weight: bold;

	display: none;
}