#register-content > h1
{
	text-align: center;

	color: #CCC;
}

#register-content > hr
{
	border: 1px solid #111;
}

#register-content .report
{
	display: flex;
	justify-content: flex-start;
	align-items: center;

	border: 1px solid black;
	padding: 3px;
	margin: 5px;

	box-shadow: #222 3px 3px 3px;
}

#register-content .report:nth-child(odd)
{
	background: #555;
}

#register-content .report:nth-child(even)
{
	background: #666;
}

#register-content .report:hover
{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.6);
}

#register-content .report .date
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#register-content .report .date > div
{
	min-width: 140px;
}