#register-content > h1
{
	text-indent: 30px;
	margin-top: 60px;

	color: #CCC;
}

#register-content > hr
{
	border: 1px solid #111;
}

#register-content .report
{
	display: block;

	border: 1px solid #000;
	padding: 3px;
	margin: 5px;

	box-shadow: #222 3px 3px 3px;

	color: #CCC;
	text-decoration: none;
}

#register-content .report .line
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#register-content .report:nth-child(odd)
{
	background: #555;
}

#register-content .report:nth-child(even)
{
	background: #666;
}

#register-content .report:hover
{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.6);
}

#register-content .report .date
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#register-content .report .date .date-from::before
{
	color: #AAA;
	font-size: 80%;
	content: "From:";
}
#register-content .report .date .date-to::before
{	
	color: #AAA;
	font-size: 80%;
	content: "To:";
}
#register-content .report .date .date-to
{
	margin-left: 10px;
}

#register-content .report .source::before
{
	color: #AAA;
	font-size: 80%;
	content: "Source:";
}

#register-content .report .type::before
{
	color: #AAA;
	font-size: 80%;
	content: "Type:";
}

#register-content .report .customer::before
{
	color: #AAA;
	font-size: 80%;
	content: "Customer:";
}

#register-content .report .customer_user::before
{
	color: #AAA;
	font-size: 80%;
	content: "User:";
}

#register-content .report .location::before
{
	color: #AAA;
	font-size: 80%;
	content: "Location:";
}

#register-content .report .ticket::before
{
	color: #AAA;
	font-size: 80%;
	content: "Ticket:";
}

#register-content .report .servers::before
{
	color: #AAA;
	font-size: 80%;
	content: "Servers:";
}

#register-content .report .user::before
{
	color: #AAA;
	font-size: 80%;
	content: "Created by: ";
}

#register-content .report .user
{
	float: right;
	margin-right: 5px;
}

#register-content .report .description::before
{
	color: #AAA;
	font-size: 80%;
	content: "Description:\00000a";
	white-space: pre;
	margin-left: -5px;
}

#register-content .report .description
{
	padding: 5px;
}

#register-content .report .date > div
{
	min-width: 140px;
}

#register-content .report .line > div
{
	min-width: 200px;
	flex-grow: 1;
}